@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color:dodgerblue;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color:dodgerblue;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.blog-preview{
  padding: 15px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin: 10px;
}
.blog-preview:hover{
  background-color: aliceblue;
}
.blog-id{
  padding: 8px 15px;
  background-color: dodgerblue;
  color: white;
  border-radius: 300px;
}
.blog-topic{
  color: dodgerblue;
  margin-top: 10px;
}
.blog-view{
  display:contents;
  cursor: pointer;
}