@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color:dodgerblue;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color:dodgerblue;
}
.content {
  margin: 50px;
  padding: 20px;
}

/* blog list & blog details */
.blog-preview{
  padding: 15px;
  border-top:1px solid aliceblue;
  border-right:1px solid aliceblue;
  border-left: 3px solid aliceblue;
  border-bottom: 5px solid aliceblue;
  border-radius: 10px;
  margin: 10px 0px;
  width: 400px;
  align-items: center;
}
.blog-preview:hover{
  background-color:aliceblue;
}
.blog-content{
  border-top:1px solid aliceblue;
  border-right:1px solid aliceblue;
  border-left: 3px solid aliceblue;
  border-bottom: 5px solid aliceblue;
  padding: 20px;
  border-radius: 10px;
}
.blog-id{
  padding: 4px 10px;
  background-color: dodgerblue;
  color: white;
  border-radius: 5px;
}
.blog-topic{
  color: dodgerblue;
  margin-top: 10px;
}
.blog-author{
  font-style: italic;
}
hr{
  margin-top: 15px;
  margin-bottom: 15px;
  border: 2px solid dodgerblue;
}
.blog-body{
  text-align: justify;
}
.button-container{
  padding: 5px;
  /* border: 1px solid black; */
  display:flow-root;
}
.blog-view, .blog-delete{
  float: right;
}
.view-btn, .delete-btn{
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.view-btn i, .delete-btn i{
  color: grey;
}
.view-btn i:hover{
  color: dodgerblue;
  font-size: larger;
}
.delete-btn i:hover{
  color: red;
  font-size: larger;
}

/* create blog */
.blog-form{
  display: flex;
  flex-direction: column;
}
input, select, textarea{
  margin: 8px 10px 20px 0px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: aliceblue;
  width: auto;
  overflow: hidden;
}
input:focus, select:focus, textarea:focus{
  outline: none;
}
.add-blog{
  border: none;
  padding: 16px 18px;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  background-color: dodgerblue;
  font-size: medium;
}

.blog-container{
  display: flow-root;
}
.blog-edit{
  float: left;
  width: 500px;
}
.preview{
  float: right;
  width: 500px;
  overflow-wrap: break-word;
}